<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <meta charset="utf-8">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/bootstrap/3.1.0/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container-fluid"> </div>
        <%=render 'layouts/header'%>
        <% flash.each do |key, value|%>
            <div class="alert alert-<%= key %>"><%= value %> </div>
        <% end %>

        <%= yield %>

        <%=render 'layouts/footer'%>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
          <script src="https://code.jquery.com/jquery.js"></script>
    </div>
</body>
</html>
