<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/myStyle.css">
    <%= csrf_meta_tags %>

<!--   <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
   -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="/bootstrap/3.1.0/js/bootstrap.min.js"></script>

</head>

<body>
    <%=render 'layouts/header'%>
    <% flash.each do |key, value|%>
        <div class="alert alert-<%= key %>"><%= value %> </div>
    <% end %>

    <%= yield %>

    <%=render 'layouts/footer'%>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>
